@model VolunteeringApp.PL.ViewModels.User.RegistrationViewModel
@{
    ViewData["Title"] = "Sign up";
}
<div class="container">
    <div class="register-form-container">
        <h1>Реєстрація</h1>
        <form method="post" asp-controller="Account" asp-action="Register">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name">Ім'я:</label>
                <input asp-for="Name" type="text" required>
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname">Прізвище:</label>
                <input asp-for="Surname" type="text" required>
                <span asp-validation-for="Surname"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">Пошта:</label>
                <input asp-for="Email" type="email" required>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">Номер телефону:</label>
                <input asp-for="PhoneNumber" type="text" required>
                <span asp-validation-for="PhoneNumber"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Пароль:</label>
                <input asp-for="Password" type="password" required>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirm">Підтвердження паролю:</label>
                <input asp-for="PasswordConfirm" type="password" required>
                <span asp-validation-for="PasswordConfirm"></span>
            </div>
            <div class="form-group">
                <label>
                    <input asp-for="IsOrganizationRep" type="checkbox"> Я представник організації
                </label>
            </div>
            <button class="submit-btn" type="submit">Зареєструватися</button>
        </form>
        <p>Вже маєте акаунт? <a asp-controller="Account" asp-action="Login">Вхід</a></p>
    </div>
</div>